@{
    ViewData["Title"] = "Home Page";
}
@*Need to add "something" to the input attributes that allows you to pass the data in the field to the action as parameters*@

<div class="text-center">
    <h1 class="display-4">Concatenation Form</h1>
</div>

<form action="/Home/Results" method="post">
    <div class="row mb-3">
        <label for="words1" class="col-sm-2 col-form-label">Words</label>
        <div class="col-sm-10">
            <input asp-action="Message" type="text" class="form-control" id="words1">
        </div>
    </div>
    <div class="row mb-3">
        <label for="repetitions1" class="col-sm-2 col-form-label">Repetitions</label>
        <div class="col-sm-10">
            <input asp-action="NumTimes" type="number" class="form-control" id="repetitions1">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
